# Node modules
node_modules

# Github Action
.github

# Cloudflare Workers build output
/dist/
/workers-site/

# Wrangler specific files
.wrangler/
.wrangler/state
.wrangler/tmp

# .env files for environment variables
.env

# Dependency directories
package-lock.json
yarn.lock

